extends components/layout

block content
  form.p-4
    .form-group
      input#zip-code.form-control.form-control-lg(type="text", placeholder="Zip Code")
    .form-group
      input#age.form-control.form-control-lg(type="text", placeholder="Age")
    button.btn.btn-primary.btn-lg(type="submit") Submit
